<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
	<title>Coffie Lovers</title>
	<!-- Latest compiled and minified CSS -->
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'first_app/css/mystyle.css' %}"/>

</head>
<body>
  		<nav class="navbar navbar-inverse">
  			<div class="container-fluid">
		<div class="navbar-header">
			 <a class="navbar-brand" href="{% url 'first_app:index' %}">Homepage</a>
			</div>
    </div>
</nav>


<div class="container">
	<div class="jumbotron">
  <h1>Coffee Lover Project By SOUVIK</h1>
  <p id="duy">Welcome to my Bootstrap Project: Coffee Lover</p>
  <p id="duyy">I really love Coffee so I choosed coffee for the project.(Click Me)</p>
  <p id="duyyy">I love to have coffee ten times a day.(Double Click ME)<p>
</div>
<p>Coffee is one of the most popular beverages in the world and it is the second most traded physical commodity worldwide, ranking second only to petroleum. There are two main types of coffee beans which are Arabica and Robusta. These two types of coffee beans make up over 90% of coffee beans sold worldwide.  Arabica typically produce higher quality coffees, while Robusta are more economically favourable for their hardiness to thrive. From the beans, it can be turn out to many types of coffee drinks such as cappuccino, latte, espresso, mocha and others. The taste of the coffee that is simply delightful of course makes it as one of the reasons why people love to drink coffee. In Seremban, Malaysia (my current location), there are so many coffee shops such as Starbucks, Old Town White Coffee, etc.

The fact that why I chose coffee to be my experiment is because there are so many waste coffee being produced every day, whether from kitchen waste or from coffee shops. It is such a waste if the waste coffee is being thrown away just like that. The question in my mind about “what can I do with these waste coffee” had trigger me to do a research in internet and I found that many people use waste coffee grounds to be as fertilizer and they claim that the waste coffee grounds can stimulate the growth of plants. I admit that this knowledge is something new to me.</p>
</div>
<div class="container">
<div class="row">
  <div id="dy" class="col-sm-6 col-md-4 px-0">
  	<div class="thumbnail">
      <img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/04LDEYRW59.jpg"  class="img-responsive" alt="Responsive image">
      <div class="caption">
        <p><a href="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/04LDEYRW59.jpg">Click</a></p>
      </div>
</div>
</div>
  <div class="col-sm-6 col-md-4 px-0">
    <div class="thumbnail">
      <img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/90V03Q5Y60.jpg" alt="...">
       <div class="caption">
        <p><a href="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/90V03Q5Y60.jpg">Click</a></p>
      </div>
</div>
</div>
  <div class="col-sm-6 col-md-4 px-0">
   <div class="thumbnail">
      <img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/O83SF2RB6D.jpg" alt="...">
      <div class="caption">
        <p><a href="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/O83SF2RB6D.jpg">Click</a></p>
      </div>
</div>
</div>
<div id="fy" class="col-sm-6 col-md-4 px-0">
   <div class="thumbnail">
      <img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/5JVPSVP7EI.jpg" alt="...">
      <div class="caption">
        <p><a href="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/5JVPSVP7EI.jpg">Click</a></p>
      </div>
</div>
</div>
<div class="col-sm-6 col-md-4 px-0">
   <div class="thumbnail">
      <img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/C5Y10KIIHA.jpg" alt="...">
      <div class="caption">
        <p><a href="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/C5Y10KIIHA.jpg">Click</a></p>
      </div>
</div>
</div>
<div class="col-sm-6 col-md-4 px-0">
   <div class="thumbnail">
      <img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/YSSFRY5B25.jpg" alt="...">
      <div class="caption">
        <p><a href="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/YSSFRY5B25.jpg">Click</a></p>
      </div>
</div>
</div>
</div>
</div>




	</body>
  <script src="{% static 'first_app/js/script.js' %}">
  </script>
	</html>